@import "mixins", "reset";

body {
  display: grid;
  place-content: center;
}

.card {
  background-color: var(--card-bg);
  @include flex (column, center, center);
  border-radius: .5rem;
  overflow: hidden;
  max-width: 375px;

  @include media (desktop){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1100px;
  }

  &__img {
    position: relative;
    &::after{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--violet);
      opacity: .5;
    }

    @include media (desktop) {
      order: 1;
    }
  }
  &__content {
    @include flex (column, center, center);
    text-align: center;
    margin: 2.5rem 3.5rem;

    @include media (desktop) {
      text-align: start;
      align-items: flex-start;
      margin: 1rem 5rem ;
    }
  }
  &__h1 {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
    line-height: 1.3;
    margin-bottom: 1.5rem;

    @include media (desktop) {
      font-size: 2rem;
    }
  }
  &__word {
    color: var(--violet);
  }
  &__p {
    color: var(--white-title);
    line-height: 1.8;
    margin-bottom: 2rem;

    @include media (desktop) {
      margin-bottom: 4rem;
    }
  }
  &__dates {
    @include flex (column, center, center);
    gap: 2rem;

    @include media (desktop) {
      flex-direction: row;
      justify-content: space-between;
      gap: 3.5rem;
    }
  }
  &__numbers {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
    margin-bottom: .5rem;
  }
  &__description {
    text-transform: uppercase;
    color: var(--white-title);
    font-family: var(--secondary-ff);
    font-size: .9rem;
  }
}